
.nav-bar{
    background-color: #373a40;
    height: 10vh;
    display: flex;
    position: relative;
}
.nava{
    width: 100%;
    display: flex;
    align-items: center;
}
.navb{
    width: 100%;
    display: flex;
    justify-content: right;
}
.nav-logo{
    padding-left: 25px;
    color: #eeeeee;
}
.navb-controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    
    box-sizing: border-box;
    color: #eeeeee; 
}
.nav-btn{
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.nav-btn:hover{
    color: #DC5F00;
    
    
}
.nav-wave{
    position: absolute;
    top: 10vh;
    z-index: 2;
}